{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content%}


<div>
    {% regroup orders_user by order_id as country_list %}

{% for od in country_list %}
    <p>Time:{{od.list.0.order.payment_date}}</p>
    <p>Order_ID:{{od.list.0.order_id}}</p>
    <p>Total:{{od.list.0.total}}</p>
    <ul>
        {%for ite in od.list%}
        <li>{{ite.product}}</li>
        <li>{{ite.quantity}}</li>
        {%endfor%}
    </ul>
{% endfor %}


</div>



{% endblock%}

{% block extra_js %}

<script type="text/javascript">



</script>

{% endblock %}

