{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account %}

{% load basket_tags %}
{% load longclawcheckout_tags longclawcore_tags %}

{% block content%}

<div class="container">
    <h2>SHOPPING CART</h2>
    {% for item in basket %}
    <div class="card w-70 font-titillium">
        <div class="row no-gutters">
            <div class="col-md-3 d-block mx-auto">
                {% for img in item.variant.product.first_image %}
                {% if img.caption == item.variant.ref %}
                {% image img.image fill-200x200 %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="text-left">{{ item.variant.ref }}</h5>
                    <p class="card-text"></p>
                    <div class="text-right">
                    <!--<button href="" class="delcart" data-quantity="{{item.quantity}}"
                            data-variant="{{item.variant.id}}">Minus
                    </button>-->
                        <label href="" data-quantity="{{item.quantity}}"
                               data-variant="{{item.variant.id}}" class="delcart btn btn-simple sub"
                               style="color:#2A2D34;font-size: 24pt" onmouseover="this.style.color='#FC814A'"
                               onmouseleave="this.style.color='#2A2D34'">-</label>
                    <span class="card-text"><small class="text-muted">{{ item.quantity }}</small></span>
                    <!--<button href="" class="addcart" data-quantity="{{item.quantity}}"
                            data-variant="{{item.variant.id}}">add
                    </button>-->
                     <label href="" data-quantity="{{item.quantity}}"
                               data-variant="{{item.variant.id}}" class="addcart btn btn-simple sub"
                               style="color:#2A2D34;font-size: 18pt" onmouseover="this.style.color='#FC814A'"
                               onmouseleave="this.style.color='#2A2D34'">+</label>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="card-text"><span class="text-muted">{{ item.variant.price }}</span></span>
                    </div>
                    <button class="btn btn-simple float-right rmvbutton" type="submit" id="rmvbutton"
                            data-variant="{{item.variant.ref}}">
                        <img src="{% static 'images/delete.svg' %}" width="20" height="20">
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <br>

    <div class="text-right">
        {% if basket.count == 0 %}
        <p class="text-left">Your basket is empty</p>
        {% else %}
        <span class="font-titillium">{{total_price}}</span>
        {% endif %}
        <br>
        <button class="empty-cart-btn text-left" type="button" id="empty-cart" onclick="emptyCart();">Empty cart
        </button>

        {% if not user.is_authenticated %}
        <a href="{% url 'account_signup' %}">
            <button class="signup-checkout-btn">Sign-up</button>
        </a>
        {% else %}
            {% if previous_address_info == 'N' %}
            <a href="{% url 'longclaw_checkout_view' %}">
                <button class="checkout-btn">Checkout</button>
            </a>
            {% else%}
            <a href="{% url 'address-select' %}">
                <button class="checkout-btn">Checkout</button>
            </a>
            {% endif %}
        {% endif %}
    </div>

</div>

<br>
<br>
<br>


<!--<div id="basket_items">
    {% for item in basket %}
    <p id="basket-item-count">{{ item.quantity }}</p>
    {{ item.variant.price }}
    {{ item.variant.ref }}

    {% for img in item.variant.product.first_image %}
    {% if img.caption == item.variant.ref %}
    {% image img.image fill-100x100 %}
    {% endif %}
    {% endfor %}


    {{ item.variant.stock }}
    {{ item.variant.ref }}
    {{ item.variant.product.description }}
    {{ item.variant.id}}
    <button href="" class="delcart" data-quantity="{{item.quantity}}"
            data-variant="{{item.variant.id}}">Minus
    </button>
    <button href="" class="addcart" data-quantity="{{item.quantity}}"
            data-variant="{{item.variant.id}}">add
    </button>
</div>

<br>
{% endfor %}-->




{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}


{% endblock%}

{% block extra_js %}
        
        
<script type="text/javascript">





    $(".delcart").on('click', function (event) {
        event.preventDefault();
        var variant = event.currentTarget.dataset.variant;
        longclawclient.basketDetail.del({
            prefix: '{% longclaw_api_url_prefix %}',
            urlParams: {
                id: variant,
                quantity: event.currentTarget.dataset.quantity
            }
        }).then(function(response){
            if (response.status == 200){
                location.reload();
            }
        });

    });

    $(".addcart").on('click', function (event) {
        event.preventDefault();
        var variant = event.currentTarget.dataset.variant;
        var qty = event.currentTarget.dataset.quantity;
        if(qty < 10){
        longclawclient.basketList.post({
            prefix: '{% longclaw_api_url_prefix %}',
            data: {
                variant_id: variant
            }
        }).then(function (response){
            if (response.status == 201){
                location.reload();
            }
        });

    }});



    $(".rmvbutton").on('click', function (event) {
        const remove_button_val = event.currentTarget.dataset.variant;
        $.ajax({
            type: "POST",
            url: '{% url 'delete-cart' %}',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', ref: remove_button_val, empty:'N'},
            success: function callback(response) {
                location.reload();
            }
        });
    });

    function emptyCart() {
        $.ajax({
            type: "POST",
            url: '{% url 'delete-cart' %}',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', empty: 'Y'},
            success: function callback(response) {
                location.reload();
            }
        });
    }

</script>

{% endblock %}

