{% extends "base.html" %}
{% load longclawcheckout_tags longclawcore_tags crispy_forms_tags%}

{% block content %}
<!--{#
`checkout_form`, `shipping_form`, `billing_form`, `basket` and `total_price` are the context
variables available for you to build up your checkout page.
`checkout_form` includes the `different_billing_address` checkbox which you can use to
decide whether to display `billing_form` or not (javascript needed here!).
`checkout_form` also includes the `shipping_option` dropdown which should be initialized
using the `initShippingOption` javascript function.
The aforementioned fields are optional (different_billing_address and shipping_option); if you dont
offer shipping/it is fixed rate you can prevent these fields from being displayed.
The only required field in `checkout_form` is `email`.

`shipping_form` gathers the address. `billing_form` is the same (but intended to gather a billing address).
`billing_form` is optional; you may not require it, or a gateway integration dropin may gather it instead.

`basket` is a queryset of `BasketItem` for the current customer.
`total_price` is the total cost of all items in the basket.
#}-->
<br><br><br><br>
<div class="container font-titillium">

            <form action="." method="post" id="checkout-form">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {{shipping_form.name.value|stringformat:'mohd'}}
                {%endif%}
                {% for field in shipping_form %}
                {% if field.is_hidden %}
                {{ field }}
                {% else %}
                {% if field.errors %}
                <div class="field error"></div>
                {% else %}
                <div class="field">
                    {% endif %}
                    <!--<label>{{ field.label_tag }}</label>-->
                    {{ field|as_crispy_field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    <div class="ui error message">
                        <p>{{ field.errors }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}


                {% for field in checkout_form %}
                <!-- purposefully ignoring different billing address option to simplify -->
                {% if field.name == 'different_billing_address' %}
                {{field|as_crispy_field}}
                {% else %}
                {% if field.errors %}
                <div class="field error"></div>
                {% else %}
                <div class="field">
                    {% endif %}
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                    <div class="ui error message">
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div id="billingForm">
                {% for field in shipping_form %}
                {% if field.is_hidden %}
                {{ field }}
                {% else %}
                {% if field.errors %}
                <div class="field error"></div>
                {% else %}
                <div class="field">
                    {% endif %}
                    <!--<label>{{ field.label_tag }}</label>-->
                    {{ field|as_crispy_field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    <div class="ui error message">
                        <p>{{ field.errors }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                </div>


                {% for key,value in razorpay.items %}
                {% if key == "id" %}
                <script class="razorpay_payment_button"
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_test_zr7aWLZBEglyr3"
                        data-order_id={{ value }}
                        data-currency="INR"
                        data-buttontext="Pay with Razorpay"
                        data-name="Miztique"
                        data-description="Purchase Description"
                        data-image=""
                        data-prefill.name="{{user}}"
                        data-prefill.email="{{user.email}}"
                        data-theme.color="#F37254"

                ></script>
                {% endif %}
                {% endfor %}
                <input type="hidden" value="Hidden Element" name="hidden">

            </form>

</div>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">

    $(function () {
        $("#id_different_billing_address").click(function () {
            if ($(this).is(":checked")) {
                $("#billingForm").empty();
            } else {
                location.reload();
            }
        });
    });
</script>

{% endblock %}
{#
Load any client javascript provided by the payment gateway.
This will give a list of <script/> tags which load the client SDK's.
An integration might have more than 1 SDK - e.g. braintree offers
'dropin' and 'hostedfields'. A user should be able to rely on all
possibilities being loaded or refer to individual gateway documentation.
#}


{% gateway_client_js as scripts %}
{% for js in scripts %}

{{ js|safe }}
{% endfor %}

{#
Finally add the media from the checkout form. This provides the ``initShippingOption`` function
which will initialize the shipping option dropdown on the checkout form
#}


{{ checkout_form.media }}

