{% load static wagtailuserbar account%}
{% load longclawcore_tags %}
{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--Google font -->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bakery.css' %}">

        <!--Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            longclawclient.basketList.get({
                prefix: '{% longclaw_api_url_prefix %}',
                data: '',
            }).then(function (response) {
                if (response.length != 0) {
                    $(".basketCount").text(response.length);
                }
            });
        });
    </script>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light top-nav-color">
        <a class="navbar-brand" href="/"  style="color:#FFFFFF">Brand</a>
        <div class="mx-auto d-xl-none d-lg-none d-md-none d-sm-block d-block order-0">
            <a href="{% url 'longclaw_basket' %}">
              <span style="color: #FC814A;font-size: 8pt" class="align-top text-center basketCount"></span>
              <img src="{% static 'images/shopping-cart.svg' %}" width="20" height="20"></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><img src="{% static 'images/menu.svg' %}" width="25" height="25"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color:#FFFFFF" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products" style="color:#FFFFFF" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" style="color:#FFFFFF" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                <a class="nav-link" href="{% url 'account-details' %}" style="color:#FFFFFF" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Account</a>
                </li>
                <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                    <a href="{% url 'account_logout' %}" class="nav-link" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Log out</a>
                </li>
                {% else %}
                <li class="nav-item d-xl-none d-lg-none d-md-none d-sm-block d-block">
                    <a href="{% url 'account_login' %}" class="nav-link" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Log in/Sign up</a>
                </li>
                {% endif %}
            </ul>


    <span class="navbar-text d-xl-block d-lg-block d-md-block d-sm-none d-none">
      <div>
          <a href="{% url 'longclaw_basket' %}">
              <span style="color: #FC814A;font-size: 8pt" class="align-top text-right basketCount"></span>
              <img src="{% static 'images/shopping-cart.svg' %}" width="25" height="25"></a>
            {% if user.is_authenticated %}
                &nbsp;&nbsp;<span class="secondary-color">Hello, {{user.first_name}}</span>
                <a href="{% url 'account_logout' %}" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Log out</a>
                <a href="{% url 'account-details' %}" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'"><img src="{% static 'images/user-account.svg' %}"
                                                                  width="25" height="25"> </a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Log in</a>
                <a href="{% url 'account_signup' %}" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Sign up</a>
            {% endif %}
        </div>
    </span>


        </div>
    </nav>


    <div class="main">
        {% block content %}{% endblock %}
    </div>

        <!-- Footer -->
        <footer class="footer">

        <div class="card text-center" style="border: 0ch;">
            <div class="card-body top-nav-color">
                <div class="row font-titillium" style="color: #FFFFFF">

                    <div class="col-md-2">
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Contact</a>
                        <br><span class="text-left">XXXX</span>
                        <br><span>YYYY</span>
                        <br><span>ZZZZ</span>
                    </div>
                    <div class="col-md-2">
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Terms & Conditions</a>
                        <br>
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Privacy Policy</a>
                        <br>
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Returns</a>
                    </div>
                    <div class="col-md-2">
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">About</a>
                        <br>
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">News</a>
                        <br>
                        <a href="" class="btn btn-simple" style="color:#FFFFFF"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#FFFFFF'">Blog</a>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-5">
                        <div class="container">
                            <div class="thumbnail center well well-small text-center">
                                <p>Sign up for news, promotions.</p>

                                <form action="" method="post">
                                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                                        <input type="text" id="" name="" placeholder="your@email.com">
                                    </div>
                                    <br/>
                                    <input type="submit" value="Subscribe Now!" class="btn btn-primary btn-simple"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted" style="background-color: #3C0000">
                <span style="color: #FFFFFF">&#x24B8; 2019, BRAND.</span>
            </div>
        </div>

            </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/bakery.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <!--<script type="text/javascript">-->

            <!--$(document).ready(function () {-->
                <!--var api_url = 'api/basket/count/'-->

                    <!--$.ajax({-->
                        <!--url: api_url,-->
                        <!--contentType: "application/json",-->
                        <!--dataType: 'json',-->
                        <!--success: function (result) {-->
                            <!--console.log(result);-->
                            <!--$(".basketCount").text(result.length(id));-->
                        <!--}-->
                    <!--})-->

            <!--});-->

            <!--$(document).ready(function () {-->
                <!--longclawclient.basketList.get({-->
                    <!--prefix: '{% longclaw_api_url_prefix %}',-->
                    <!--data: '',-->
                <!--}).then(function (response) {-->
                    <!--if (response.length != 0) {-->
                        <!--$(".basketCount").text(response.length);-->
                    <!--}-->

                <!--});-->
            <!--});-->
        <!--</script>-->
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
