{% extends "base.html" %}
{%load static %}


{%block content%}

{% comment %}
<p>This is index page</p>
<p>#3E92CC</p>
<p>#454ADE</p>
<p>#B14AED</p>
2A2D34
{% endcomment %}


<header class="masthead" style="background-image: url({% static 'images/homePage.jpg' %});";>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      </div>
    </div>
  </div>
</header>


<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>

{%endblock%}