{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account %}


{% block content %}

<!-- Account details -->
<div class="container my-5 font-titillium">
    <h2>Your Account</h2>
    <br>
    <div class="row">

        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-10 ml-auto my-2">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/orders.svg' %}" width="40" height="40">
                    <p><small class="card-text text-muted">View orders & status.</small></p>
                    <a href="{% url 'order' %}">
                        <button class="checkout-btn">Show orders</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-10 my-2">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/address.svg' %}" width="40" height="40">
                    <p><small class="card-text text-muted">Edit addresses.</small></p>
                    <a href="{% url 'address-manage' %}">
                        <button class="checkout-btn">Manage</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xl-3 col-lg-3 col-sm-10 mr-auto my-2">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/address.svg' %}" width="40" height="40">
                    <p><small class="card-text text-muted">Login & Security.</small></p>
                    <a href="{% url 'login-security' %}">
                        <button class="checkout-btn">Manage</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}

{% block extra_js %}


{% endblock %}