{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account %}

{% load basket_tags %}
{% load longclawcheckout_tags longclawcore_tags %}

{% block content %}


<label href="" class="addcart btn btn-simple sub"
                               style="color:#2A2D34;font-size: 18pt" onmouseover="this.style.color='#FC814A'"
                               onmouseleave="this.style.color='#2A2D34'">Add</label>



{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}

{% endblock %}

{% block extra_js %}
<script type=text/javascript>

    $(".addcart").on('click', function (event) {
        event.preventDefault();
        longclawclient.addressDetail.get({
            prefix: '{% longclaw_api_url_prefix %}',

        }).then(function (response){
            console.log(response)
        });

    });
</script>

{% endblock %}