{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account %}

{% load basket_tags %}
{% load longclawcheckout_tags longclawcore_tags %}

{% block content %}


<div class="container my-5 font-titillium">
    <div class="row">

        <div class="col-3 ml-auto">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/orders.svg' %}" width="40" height="40">
                    <p class="card-text">View past orders and status.</p>
                    <a href="{% url 'order' %}">
                        <button class="checkout-btn">Show orders</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/address.svg' %}" width="40" height="40">
                    <p class="card-text">Edit addresses.</p>
                    <a href="{% url 'address-manage' %}">
                        <button class="checkout-btn">View addresses</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-3 mr-auto">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'images/address.svg' %}" width="40" height="40">
                    <p class="card-text">Login & Security.</p>
                    <a href="{% url 'login-security' %}">
                        <button class="checkout-btn">Manage</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>



{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}

{% endblock %}

{% block extra_js %}
<script type=text/javascript>

    $(".addcart").on('click', function (event) {
        event.preventDefault();
        longclawclient.addressDetail.get({
            prefix: '{% longclaw_api_url_prefix %}',

        }).then(function (response){
            console.log(response)
        });

    });
</script>

{% endblock %}