{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account crispy_forms_tags%}


{% block content %}

<!-- Change name -->
<div class="container my-5 font-titillium">
    <h2 class="text-center">Edit Name</h2>
    <br>
    <div class="row">
        <div class="col-md-4 col-xl-4 col-lg-4 col-sm-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Enter your Name.</p>
                    <form action="" method="post">
                        {%csrf_token%}
                        {{form|crispy}}
                        <button class="mx-auto delete-address-btn" type="submit">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}

