{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags account %}


{% block content %}


<div class="container my-5 font-titillium">
    <h2 class="text-left">Login & Security</h2>
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 col-sm-4 offset-sm-8 col-xs-4 offset-xs-8">
            <div class="card" style="width: auto;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Name:</span>
                        <br>
                        <span class="font-weight-bold">{{request.user.first_name}}</span>
                        <a href="{% url 'change-name' user.id %}">
                            <button class="checkout-btn float-right">Edit</button>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <span>Email:</span>
                        <br>
                        <span class="font-weight-bold">{{request.user.email}}</span>
                    </li>
                    <li class="list-group-item">
                        <span>Password:</span>
                        <br>
                        <span class="font-weight-bold">*********</span>
                        <a href="{% url 'account_change_password' %}">
                            <button class="checkout-btn float-right">Edit</button>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <span>Phone:</span>
                        <br>
                        <span class="font-weight-bold">{{request.user.profile.phone}}</span>
                        <a href="{% url 'change-number' user.id %}">
                            <button class="checkout-btn float-right">Edit</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block extra_js %}


{% endblock %}