{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% load basket_tags %}

{% load longclawcore_tags %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}

<br>
<br>

<div class="product_content row no-gutters">
    <div class="image col-2">
        {% if page.images %}
        <div id="thumbs" style="float: left; margin: 10px">
        {% for item in page.images.all %}
            {% image item.image fill-100x100 %}
            <br><br>
        {% endfor %}
        </div>
        {% else %}
        <img style="width: 450px; background-color: #ECEFF1;" src="..."/>
        </div>
        {% endif %}
    </div>

    <div class="col-5">
        <img id="largeImage" width="300" height="300">
    </div>


    <div class="product_content_info col-4">
        <h1 class="font-titillium">{{ page.title }}</h1>


        <!-- Product with 2 variants -->
        {% if page.variants.all.count > 1 %}
        <span class="font-titillium text-muted">Starting from &#x20B9;{{page.variants.all.0.product.price_range.1}}</span>
        <br>
        <select id="variant-select" class="custom-select w-auto">
            {% for variant in page.variants.all %}
            <option value="{{variant.id}}" stock="{{variant.stock}}" {% if variant.stock < 1 %}disabled{%else%}{%endif%}>{{variant.ref}} - &#x20B9;{{variant.price}}</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
            <!--<button type="button" id="sub" class="sub">-</button>
            <input readonly type="number" id="multi_variant_qty_cart" value="1" min="1" max="10"/>
            <button type="button" id="add" class="add">+</button>-->
            <label href="" id="sub" class="btn btn-simple sub" style="color:#2A2D34;font-size: 24pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</label>
            &nbsp;<input readonly type="text" id="multi_variant_qty_cart" value="1" size="1" min="1" max="10"/>
            <label href="" id="add" class="btn btn-simple add" style="color:#2A2D34;font-size: 20pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">+</label>
        <br>
        <button type="button" id="add-to-basket-btn" class="add-to-cart">ADD TO CART</button>

        {% else %}

            <!-- Product with single variant -->
            {% for variant in page.variants.all %}
            {% if variant.stock > 0 %}
            <span class="font-titillium text-muted">&#x20B9;{{variant.price}}</span>
            <div>
                <label href="" id="sub" class="btn btn-simple sub" style="color:#2A2D34;font-size: 24pt" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</label>
                &nbsp;<input readonly type="text" id="qty_cart" size="1" value="1" min="1" max="{% if variant.stock > 10 %} 10{%else%}{{variant.stock}}{%endif%}"/>
                <label href="" id="add" class="btn btn-simple add" style="color:#2A2D34;font-size: 20pt" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">+</label>
            </div>
            <br>
            <button type="button" id="add-to-basket-btn" value="{{variant.id}}" stock="{{variant.stock}}" class="add-to-cart">ADD TO CART</button>
            {% else %}
            <span class="label label-danger">Sold out</span>
            {% endif %}
            {% endfor %}
        {% endif %}

        <br><br>
        <div class="w-70"><span class="font-titillium">{{ page.description|richtext }}</span></div>
        <div class="mx-auto">
            <span>Share</span>
            &nbsp;
            <a href="http://www.instagram.com/miztique.io/" target="_blank"><img
                    src="{% static 'images/icons8-instagram.svg' %}"
                    width="30"
                    height="30"></a>
            &nbsp;
            <a href="http://twitter.com/mohd_izzy" target="_blank"><img
                    src="{% static 'images/icons8-twitter-filled.svg' %}"
                    width="30" height="30"></a>
            &nbsp;

        </div>
    </div>
    <div class="col-1"></div>
</div>
{% if page.tags.all.count %}
<div class="tags">
    <h3>Tags</h3>
    {% for tag in page.tags.all %}
    <a href="{% slugurl 'tags' %}?tag={{ tag }}">
        <button type="button">{{ tag }}</button>
    </a>
    {% endfor %}
</div>
{% endif %}

<br><br><br><br><br>


<div class="font-titillium text-center"><a href="{{ page.get_parent.url }}"
                                           style="color:#2A2D34;font-size: 19pt;text-decoration: none"
                                           onmouseover="this.style.color='#3C0000'"
                                           onmouseleave="this.style.color='#2A2D34'">&#x2190;BACK TO PRODUCTS</a>
</div>



{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript">


    const btn_cart = document.getElementById('add-to-basket-btn');


    const variant_select = document.getElementById('variant-select');

    console.log(variant_select);

    const variantId = $('#add-to-basket-btn').val();

    const maxAtt = $('#multi_variant_qty_cart').attr("max") == null ? $('#qty_cart').attr("max") : $('#multi_variant_qty_cart').attr("max") ;




        btn_cart.addEventListener("click", (e) => {
            e.preventDefault();
            const variant_id = variant_select == null ? variantId : variant_select.options[variant_select.selectedIndex].value;
            console.log(variant_id);


            const quantity = $('#multi_variant_qty_cart').val() == null ? Number($('#qty_cart').val()) : Number($('#multi_variant_qty_cart').val());


            const multi_variant_stock = $('#variant-select').find(':selected').attr("stock");
            const stock = multi_variant_stock == null ? Number($('#add-to-basket-btn').attr("stock")) : Number(multi_variant_stock);

            if(stock >= quantity && quantity<11){
              longclawclient.basketList.post({
                prefix: "{% longclaw_api_url_prefix %}",
                data: { variant_id, quantity:quantity }
              }).then(function (response) {
                  if (response.status == 201) {
                      location.reload();
                  }
              });
          }else{
            window.alert("Stock left"+multi_variant_stock);
          }
      });



        $(document).ready(function() {
           $('#largeImage').attr('src',$('#thumbs img').attr('src').replace('thumb','large'));
       });

        $('#thumbs img').click(function(){
            $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));

        });

        $('.add').click(function () {
            if ($(this).prev().val() < Number(maxAtt)) {
                $(this).prev().val(+$(this).prev().val() + 1);
            }
        });
        $('.sub').click(function () {
            if ($(this).next().val() > 1) {
                if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
            }
        });

</script>


{% endblock %}

