{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% load basket_tags %}

{% load longclawcore_tags %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}

<br>
<br>

<div class="row no-gutters">

    <!-- Desktop image viewer -->
    {% if page.images %}
    <div class="d-sm-none d-md-block d-none col-md-2">
        <div id="thumbs" style="float: left; margin: 10px">
        {% for item in page.images.all %}
            {% image item.image fill-400x400 width="100" height="100" %}
            <br><br>
        {% endfor %}
        </div>
    </div>

    <div class="col-md-5 col-xs-8 img-responsive">
        <img id="largeImage" width="350" height="350" class="img-responsive">
    </div>

    <!-- Mobile image viewer -->
     <div class="d-sm-block d-md-none col-xs-10">
        <div id="thumbs" style="float: left; margin: 10px">
        {% for item in page.images.all %}
            {% image item.image fill-400x400 width="100" height="100" %}
            &nbsp;
        {% endfor %}
        </div>
     </div>
    {% endif %}


    {% if device.width > 1025 %}
    <!-- Desktop view -->
    <div class="col-md-4 col-xs-8 d-sm-none d-md-block d-none">
        <h1 class="font-titillium">{{ page.title }}</h1>


        <!-- Product with 2 variants -->
        {% if page.variants.all.count > 1 %}
        <span class="font-titillium text-muted">Starting from &#x20B9;{{page.variants.all.0.product.price_range.1}}</span>
        <br>
        <select id="variant-select" class="custom-select w-auto">
            {% for variant in page.variants.all %}
            <option value="{{variant.id}}" stock="{{variant.stock}}" {% if variant.stock < 1 %}disabled{%else%}{%endif%}>{{variant.ref}} - &#x20B9;{{variant.price}}</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
            <button id="sub" class="btn shadow-none sub" style="color:#2A2D34;font-size: 24pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
            &nbsp;<input readonly type="text" id="multi_variant_qty_cart" value="1" size="1" min="1" max="10"/>
            <button id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">+</button>
        <br>
        <button type="button" id="add-to-basket-btn" class="add-to-cart">ADD TO CART</button>
        <br>
        <br>
        <div id="stock_alert" style="color: red" class="font-titillium"></div>

        {% else %}

            <!-- Product with single variant -->
            {% for variant in page.variants.all %}
            {% if variant.stock > 0 %}
            <span class="font-titillium text-muted">&#x20B9;{{variant.price}}</span>
            <div>
                <button type="button" id="sub" class="btn sub shadow-none" style="color:#2A2D34;font-size: 24pt;" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
                &nbsp;<input readonly type="text" id="qty_cart" size="1" value="1" min="1" max="{% if variant.stock > 10 %} 10{%else%}{{variant.stock}}{%endif%}"/>
                <button href="" id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'" {%if variant.stock == 1 %}disabled{%endif%}>+</button>
            </div>
            <br>
            <button type="button" id="add-to-basket-btn" value="{{variant.id}}" stock="{{variant.stock}}" class="add-to-cart">ADD TO CART</button>
            <br><br>
            <div id="stock_alert" style="color: red" class="font-titillium"></div>
            {% else %}
            <span class="label label-danger">Sold out</span>
            {% endif %}
            {% endfor %}
        {% endif %}

        <br><br>
        <div class="w-70"><span class="font-titillium">{{ page.description|richtext }}</span></div>
        <div class="mx-auto">
            <span>Share</span>
            &nbsp;
            <a href="http://www.instagram.com/miztique.io/" target="_blank"><img
                    src="{% static 'images/icons8-instagram.svg' %}"
                    width="30"
                    height="30"></a>
            &nbsp;
            <a href="http://twitter.com/mohd_izzy" target="_blank"><img
                    src="{% static 'images/icons8-twitter-filled.svg' %}"
                    width="30" height="30"></a>
            &nbsp;

        </div>
    </div>


    {% elif device.width < 1025 and device.width > 576 %}

    <!-- Medium view -->
    <div class="col-md-4 col-xs-8 d-sm-none d-md-block d-none">
        <h1 class="font-titillium" >{{ page.title }}</h1>


        <!-- Product with 2 variants -->
        {% if page.variants.all.count > 1 %}
        <span class="font-titillium text-muted">Starting from &#x20B9;{{page.variants.all.0.product.price_range.1}}</span>
        <br><br>
        <div class="text-center">
        <select id="variant-select" class="custom-select w-auto">
            {% for variant in page.variants.all %}
            <option value="{{variant.id}}" stock="{{variant.stock}}" {% if variant.stock < 1 %}disabled{%else%}{%endif%}>{{variant.ref}} - &#x20B9;{{variant.price}}</option>
            {% endfor %}
        </select>
        <br>
            <button id="sub" class="btn shadow-none sub" style="color:#2A2D34;font-size: 24pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
            &nbsp;<input readonly type="text" id="multi_variant_qty_cart" value="1" size="1" min="1" max="10"/>
            <button id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">+</button>
        <br>
        <button type="button" id="add-to-basket-btn" class="add-to-cart">ADD TO CART</button>
            </div>
        <br>
        <br>
        <div id="stock_alert" style="color: red" class="font-titillium"></div>

        {% else %}

            <!-- Product with single variant -->
            {% for variant in page.variants.all %}
            {% if variant.stock > 0 %}
            <span class="font-titillium text-muted">&#x20B9;{{variant.price}}</span>
            <div class="text-center">
                <button type="button" id="sub" class="btn sub shadow-none" style="color:#2A2D34;font-size: 24pt;" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
                &nbsp;<input readonly type="text" id="qty_cart" size="1" value="1" min="1" max="{% if variant.stock > 10 %} 10{%else%}{{variant.stock}}{%endif%}"/>
                <button href="" id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'" {%if variant.stock == 1 %}disabled{%endif%}>+</button>
                <br>
                <button type="button" id="add-to-basket-btn" value="{{variant.id}}" stock="{{variant.stock}}"
                        class="add-to-cart">ADD TO CART
                </button>
            </div>
            <br><br>
            <div id="stock_alert" style="color: red" class="font-titillium"></div>
            {% else %}
            <span class="label label-danger">Sold out</span>
            {% endif %}
            {% endfor %}
        {% endif %}

        <br><br>
        <div class="w-70"><span class="font-titillium">{{ page.description|richtext }}</span></div>
        <div class="mx-auto">
            <span>Share</span>
            &nbsp;
            <a href="http://www.instagram.com/miztique.io/" target="_blank"><img
                    src="{% static 'images/icons8-instagram.svg' %}"
                    width="30"
                    height="30"></a>
            &nbsp;
            <a href="http://twitter.com/mohd_izzy" target="_blank"><img
                    src="{% static 'images/icons8-twitter-filled.svg' %}"
                    width="30" height="30"></a>
            &nbsp;

        </div>
    </div>

    {% elif device.width < 577  and device.width > 0%}

    <!-- Mobile view -->
    <div class="col-md-4 col-xs-8 d-sm-block d-md-none">
        <h1 class="font-titillium" >{{ page.title }}</h1>


        <!-- Product with 2 variants -->
        {% if page.variants.all.count > 1 %}
        <span class="font-titillium text-muted">Starting from &#x20B9;{{page.variants.all.0.product.price_range.1}}</span>
        <br><br>
        <div class="text-center">
        <select id="variant-select" class="custom-select w-auto">
            {% for variant in page.variants.all %}
            <option value="{{variant.id}}" stock="{{variant.stock}}" {% if variant.stock < 1 %}disabled{%else%}{%endif%}>{{variant.ref}} - &#x20B9;{{variant.price}}</option>
            {% endfor %}
        </select>
        <br>
            <button id="sub" class="btn shadow-none sub" style="color:#2A2D34;font-size: 24pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
            &nbsp;<input readonly type="text" id="multi_variant_qty_cart" value="1" size="1" min="1" max="10"/>
            <button id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt"
                   onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">+</button>
            <br>
            <button type="button" id="add-to-basket-btn" class="add-to-cart">ADD TO CART</button>
        </div>
        <br>
        <br>
        <div id="stock_alert" style="color: red" class="font-titillium"></div>

        {% else %}

            <!-- Product with single variant -->
            {% for variant in page.variants.all %}
            {% if variant.stock > 0 %}
            <span class="font-titillium text-muted">&#x20B9;{{variant.price}}</span>
            <div class="text-center">
                <button type="button" id="sub" class="btn sub shadow-none" style="color:#2A2D34;font-size: 24pt;" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'">-</button>
                &nbsp;<input readonly type="text" id="qty_cart" size="1" value="1" min="1" max="{% if variant.stock > 10 %} 10{%else%}{{variant.stock}}{%endif%}"/>
                <button href="" id="add" class="btn shadow-none add" style="color:#2A2D34;font-size: 20pt" onmouseover="this.style.color='#FC814A'"
                   onmouseleave="this.style.color='#2A2D34'" {%if variant.stock == 1 %}disabled{%endif%}>+</button>
            <br>
            <button type="button" id="add-to-basket-btn" value="{{variant.id}}" stock="{{variant.stock}}" class="add-to-cart">ADD TO CART</button>
                </div>
            <br><br>
            <div id="stock_alert" style="color: red" class="font-titillium"></div>
            {% else %}
            <span class="label label-danger">Sold out</span>
            {% endif %}
            {% endfor %}
        {% endif %}

        <br><br>
        <div class="w-70"><span class="font-titillium">{{ page.description|richtext }}</span></div>
        <div class="mx-auto">
            <span>Share</span>
            &nbsp;
            <a href="http://www.instagram.com/miztique.io/" target="_blank"><img
                    src="{% static 'images/icons8-instagram.svg' %}"
                    width="30"
                    height="30"></a>
            &nbsp;
            <a href="http://twitter.com/mohd_izzy" target="_blank"><img
                    src="{% static 'images/icons8-twitter-filled.svg' %}"
                    width="30" height="30"></a>
            &nbsp;

        </div>
    </div>
    {%endif%}

</div>
{% if page.tags.all.count %}
<div class="tags">
    <h3>Tags</h3>
    {% for tag in page.tags.all %}
    <a href="{% slugurl 'tags' %}?tag={{ tag }}">
        <button type="button">{{ tag }}</button>
    </a>
    {% endfor %}
</div>
{% endif %}

<br><br><br><br><br>


<div class="font-titillium text-center"><a href="{{ page.get_parent.url }}"
                                           style="color:#2A2D34;font-size: 19pt;text-decoration: none"
                                           onmouseover="this.style.color='#3C0000'"
                                           onmouseleave="this.style.color='#2A2D34'">&#x2190;BACK TO PRODUCTS</a>
</div>

<div class="jumbotron" style="height: 500px">
    <h4 class="text-center">Featured Content</h4>
</div>



{% longclaw_vendors_bundle %}
{% longclaw_client_bundle %}


{% endblock %}

{% block extra_js %}
<script type="text/javascript">


    const btn_cart = document.getElementById('add-to-basket-btn');

    const variant_select = document.getElementById('variant-select');

    const variantId = $('#add-to-basket-btn').val();

    const maxAtt = $('#multi_variant_qty_cart').attr("max") == null ? $('#qty_cart').attr("max") : $('#multi_variant_qty_cart').attr("max");




        if (btn_cart) {
            btn_cart.addEventListener("click", (e) => {
                e.preventDefault();
            const variant_id = variant_select == null ? variantId : variant_select.options[variant_select.selectedIndex].value;

            const quantity = $('#multi_variant_qty_cart').val() == null ? Number($('#qty_cart').val()) : Number($('#multi_variant_qty_cart').val());

            const multi_variant_stock = $('#variant-select').find(':selected').attr("stock");
            const stock = multi_variant_stock == null ? Number($('#add-to-basket-btn').attr("stock")) : Number(multi_variant_stock);

            (function (){
                 longclawclient.basketDetailCount.get({
                prefix: '{% longclaw_api_url_prefix %}',
                urlParams: {"id":variant_id},
                    }).then(function (response) {
                     stock_disabled = response.quantity;
                if (stock >= quantity && quantity < 11 && stock != response.quantity) {
                longclawclient.basketList.post({
                    prefix: "{% longclaw_api_url_prefix %}",
                    data: {variant_id, quantity: quantity}
                }).then(function (response) {
                    if (response.status == 201) {
                        location.reload();
                    }
                });
            } else {
//                window.alert("Stock left: " + multi_variant_stock);
                    document.getElementById('stock_alert').innerHTML='Only 1 remaining in stock'
            }
            });
            }());


        });
        }


    $(document).ready(function () {
        $('#largeImage').attr('src', $('#thumbs img').attr('src').replace('thumb', 'large'));
    });

    $('#thumbs img').click(function () {
        $('#largeImage').attr('src', $(this).attr('src').replace('thumb', 'large'));

    });

    $('.add').click(function () {
        if ($(this).prev().val() < Number(maxAtt)) {
            $(this).prev().val(+$(this).prev().val() + 1);
        }
    });
    $('.sub').click(function () {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
    });


</script>
{% endblock %}
