{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productindex{% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>
<div class="container-fluid">
<div class="row">


        {% for post in page.get_children %}
        {% with post=post.specific %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                {% image post.images.first.image fill-300x300 class="card-img-top" alt="" %}
                <div class="card-body">
                    <a href="{% pageurl post %}">
                        <h4>{{ post.title }}</h4>
                    </a>
                    <p>{{ post.description|richtext }}</p>
                    <p>From &euro;{{  post.price_range.0 }}</p>
                </div>
            </div>
            <br>
        </div>
        {% endwith %}
        {% endfor %}



</div>
    </div>


<br>
<br>


<!--<div class="card-grid">
{% for post in page.get_children %}
   {% with post=post.specific %}
    <div class="card">
        {% image post.images.first.image max-400x320 %}
        <div class="card-body">
            <a href="{% pageurl post %}">
                <h4>{{ post.title }}</h4>
            </a>
            <p>{{ post.description|richtext }}</p>
            <p>From &euro;{{  post.price_range.0 }}</p>
        </div>
   </div>
   {% endwith %}
{% endfor %}
</div>-->
{% endblock %}
